---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=da1127d52bec8e38aa3255e153d5f85b81b7fa02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1589522626'
      Etag:
      - W/"51634671e20231970269f15e15a9b1ea"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - fbc6d4634ce4d3b9978f
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=da1127d52bec8e38aa3255e153d5f85b81b7fa02&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=da1127d52bec8e38aa3255e153d5f85b81b7fa02&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":249808850,"node_id":"MDEwOlJlcG9zaXRvcnkyNDk4MDg4NTA=","name":"adopt_dont_shop_paired_2001","full_name":"Shock253/adopt_dont_shop_paired_2001","private":false,"owner":{"login":"Shock253","id":28197446,"node_id":"MDQ6VXNlcjI4MTk3NDQ2","avatar_url":"https://avatars3.githubusercontent.com/u/28197446?v=4","gravatar_id":"","url":"https://api.github.com/users/Shock253","html_url":"https://github.com/Shock253","followers_url":"https://api.github.com/users/Shock253/followers","following_url":"https://api.github.com/users/Shock253/following{/other_user}","gists_url":"https://api.github.com/users/Shock253/gists{/gist_id}","starred_url":"https://api.github.com/users/Shock253/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Shock253/subscriptions","organizations_url":"https://api.github.com/users/Shock253/orgs","repos_url":"https://api.github.com/users/Shock253/repos","events_url":"https://api.github.com/users/Shock253/events{/privacy}","received_events_url":"https://api.github.com/users/Shock253/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Shock253/adopt_dont_shop_paired_2001","description":null,"fork":false,"url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001","forks_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/forks","keys_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/teams","hooks_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/hooks","issue_events_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/issues/events{/number}","events_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/events","assignees_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/assignees{/user}","branches_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/branches{/branch}","tags_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/tags","blobs_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/git/refs{/sha}","trees_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/statuses/{sha}","languages_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/languages","stargazers_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/stargazers","contributors_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/contributors","subscribers_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/subscribers","subscription_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/subscription","commits_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/commits{/sha}","git_commits_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/git/commits{/sha}","comments_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/comments{/number}","issue_comment_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/issues/comments{/number}","contents_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/contents/{+path}","compare_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/merges","archive_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/downloads","issues_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/issues{/number}","pulls_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/pulls{/number}","milestones_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/milestones{/number}","notifications_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/labels{/name}","releases_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/releases{/id}","deployments_url":"https://api.github.com/repos/Shock253/adopt_dont_shop_paired_2001/deployments","created_at":"2020-03-24T20:18:16Z","updated_at":"2020-04-01T23:10:42Z","pushed_at":"2020-04-01T23:10:42Z","git_url":"git://github.com/Shock253/adopt_dont_shop_paired_2001.git","ssh_url":"git@github.com:Shock253/adopt_dont_shop_paired_2001.git","clone_url":"https://github.com/Shock253/adopt_dont_shop_paired_2001.git","svn_url":"https://github.com/Shock253/adopt_dont_shop_paired_2001","homepage":null,"size":214,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":4,"license":null,"forks":0,"open_issues":4,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":238060304,"node_id":"MDEwOlJlcG9zaXRvcnkyMzgwNjAzMDQ=","name":"battleship","full_name":"tony-gomes/battleship","private":false,"owner":{"login":"tony-gomes","id":50756871,"node_id":"MDQ6VXNlcjUwNzU2ODcx","avatar_url":"https://avatars2.githubusercontent.com/u/50756871?v=4","gravatar_id":"","url":"https://api.github.com/users/tony-gomes","html_url":"https://github.com/tony-gomes","followers_url":"https://api.github.com/users/tony-gomes/followers","following_url":"https://api.github.co[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=da1127d52bec8e38aa3255e153d5f85b81b7fa02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1589522626'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=da1127d52bec8e38aa3255e153d5f85b81b7fa02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1589522627'
      Etag:
     [...]
[...]
