<h1>Hello <%= @invitee %></h1>
<p><%= @inviter%> has invited you to join Brownfield of Dreams. You can create an account <%= link_to 'here', '/register'%></p>

<%# 

Hello <INVITEE_NAME_AS_IT_APPEARS_ON_GITHUB>,

<INVITER_NAME_AS_IT_APPEARS_ON_GITHUB> has invited you to join <YOUR_APP_NAME>. You can create an account <here (should be a link to /signup)>. %>